<div id="<%= dom_id customer %>" class="scaffold_record">
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <%= link_to "Show this customer", customer %>
  </p>
</div>
