<h1>Disputed Charges</h1>
<table class="disputed-charges">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody class="disputed-charges">
  <%= render @charges.disputed %>
  </tbody>
</table>