<h1>Disputed Charges</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody id="disputed-charges">
  <%= render @charges.disputed %>
  </tbody>
</table>