<h1>Failed Charges</h1>
<table class="failed-charges">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody class="failed-charges">
  <%= render @charges.failed %>
  </tbody>
</table>