<h1>Successful Charges</h1>
<table class="successful-charges">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody class="successful-charges">
  <%= render @charges.successful %>
  </tbody>
</table>
