<h1>Failed Charges</h1>
<table id="failed-charges">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <%= render @charges.failed %>
  </tbody>
</table>

<h1>Disputed Charges</h1>
<table id="disputed-charges">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <%= render @charges.disputed %>
  </tbody>
</table>

<h1>Successful Charges</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <%= render @charges.successful %>
  </tbody>
</table>
