<h1>Failed Charges</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody id="failed-charges">
  <%= render @charges.failed %>
  </tbody>
</table>

<h1>Disputed Charges</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody id="disputed-charges">
  <%= render @charges.disputed %>
  </tbody>
</table>

<h1>Successful Charges</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody id="successful-charges">
  <%= render @charges.successful %>
  </tbody>
</table>
